.NavClose {
  background-color: rgb(45, 43, 57);
  height: 100%;
  width: 6%;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  -webkit-box-shadow: -2px 0px 20px -10px rgba(0, 0, 0, 0.8);
  box-shadow: -2px 0px 20px -10px rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: all 0.4s ease-in;
}

.NavOpen {
  background-color: rgb(45, 43, 57);
  height: 100%;
  width: 30%;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  -webkit-box-shadow: -2px 0px 20px -10px rgba(0, 0, 0, 0.8);
  box-shadow: -2px 0px 20px -10px rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: all 0.4s ease-in;
}

.closeIconContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(32, 32, 42);
  -webkit-box-shadow: 0px 4px 20px -10px #000000;
  box-shadow: 0px 4px 20px -10px #000000;
  transition: all 0.2s ease-in;
}

.menueIconContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 42);
  -webkit-box-shadow: 0px 4px 20px -10px #000000;
  box-shadow: 0px 4px 20px -10px #000000;
  transition: all 0.2s ease-in;
}

.menueIconContainer:hover {
  background-color: rgba(255, 166, 0, 0.904);
}

.iconClose {
  width: 50px;
  padding: 0 10px;
  padding-left: 20px;
}

.iconMenue {
  width: 40px;
  transition: all 0.2s ease-in;
}

.menueIconContainer:hover > .iconMenue {
  filter: brightness(0%);
}

.NavigateItem {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgb(255, 158, 68);
  font-size: 1.25rem;
  letter-spacing: 2px;
  opacity: 1;
  -webkit-animation: apear 0.25s linear 1 forwards;
  animation: apear 0.25s linear 1 forwards;
}

.currentPage {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgb(255, 158, 68);
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.disaplearCurrentPage {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgb(255, 158, 68);
  font-size: 1.25rem;
  letter-spacing: 2px;
  -webkit-animation: disapear 0.25s linear 1 forwards;
  animation: disapear 0.25s linear 1 forwards;
}

.iconMoreNavContainer {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  padding: 15px;
}

.iconMenueNav {
  width: 70px;
}

.closedallItemNavigators {
  display: none;
}

.allNavigatorItems {
  width: 100%;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  -webkit-animation: apear 0.4s linear 1 forwards;
  animation: apear 0.4s linear 1 forwards;
}

li {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.items {
  text-decoration: none;
  list-style-type: none;
  margin: 30px 30px;
  text-align: left;
  color: rgb(255, 158, 68);
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 0px) and (max-width: 765px) {
  .NavClose, .NavOpen {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1022px) {
  .NavClose, .NavOpen {
    display: flex;
  }
}
@media only screen and (min-width: 1023px) {
  .NavClose, .NavOpen {
    display: flex;
  }
}

/*# sourceMappingURL=NavigationBar.css.map */
